.ant-layout-content {
  padding: $spacing-md $spacing-xl $spacing-md $spacing-xl;
  position: relative;
  min-height: $screen-md-min + 20px;
}

.ant-card {
  .ant-card-cover {
    width: auto;
    background-size: cover;
    overflow: hidden;
  }

  &.card-img-md {
    .ant-card-cover {
      max-height: 180px;
    }
  }

  &.card-img-lg {
    .ant-card-cover {
      max-height: 240px;
    }
  }
}

h2 {
  color: $green-light !important;
}

.right {
  float: right;
  padding-top: $spacing-xs;
}