.bt-sidebar-menu {
  &.ant-menu-dark {
    background: $navy-darkest;
  }
  .ant-menu-item {
    height: 48px;
    line-height: 48px;
    margin: 0 !important;
    border-left: $radius-sm solid transparent;
    border-right: $radius-sm solid transparent;
    &.ant-menu-item-selected {
      background: $navy-dark;
      border-left-color: $red-darkest;
    }
  }
  &.ant-menu-inline {
    .ant-menu-item {
      padding-left: 16px !important;
    }
  }
  &.ant-menu-inline-collapsed > .ant-menu-item {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  &.ant-menu-inline-collapsed {
    .ant-menu-item-group-title {
      padding-left: 0;
      text-align: center;
    }
  }
  .ant-menu-item-group-title {
    padding: 0;
    padding-top: $spacing-sm;
    padding-left: $spacing-sm;
    -webkit-transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      text-align 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      text-align 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1),
      padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    color: $navy-light;
    text-transform: uppercase;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
  }
}
.ant-layout-sider-trigger {
  bottom: 24px;
}
